.galleryGrid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1rem;
}

.galleryItem {
   position: relative;
   width: 100%;
   aspect-ratio: 1/1;
   overflow: hidden;
   border-radius: 8px;
}