.galleryContainer {
   width: 100%;
   height: 100%;
}

.emptyMessage {
   text-align: center;
   padding: 100px 20px;
   font-size: 1.2rem;
   color: #666;
}

.emptyState {
   padding: 64px 32px;
   text-align: center;
}

.emptyMessage {
   font-size: 19px;
   color: #666;
}

.emptyMessage strong {
   font-weight: bold;
}