.headerContainer {
   height: 100%;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   background: url(../../../public/textures/banner-image-1.jpg);
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
   background-attachment: fixed;

   overflow: hidden;
   padding: 20px 20px 0px 20px;
}

.header {
   max-width: 1245px;
   width: 100%;
   height: 110px;

   padding: 20px;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo,
.logo img {
   width: 256px;
   height: 46px;
}

.nav {
   width: 60%;
   height: 70px;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
}

.nav a {
   font-size: 13px;
   height: 70px;
   display: flex;
   align-items: center;
   color: inherit;
   text-decoration: none;
}

.nav a:hover{
   color: #b79b6a !important;
   border-bottom: 1px solid #b79b6a;
}

.smLinks {
   display: flex;
   gap: 10px;
}

.smLinks a {
   width: 32px;
   height: 18px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.smLinks a img {
   height: 15px;
}

.headerBody {
   max-width: 1245px;
   width: 100%;
   height: 100%;

   padding: 0px 20px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 15px;
}

.line {
   display: block;
   background: #b79b6a;
   width: 30px;
   height: 5px;
}

.headerBody h1 {
   width: 400px;
   font-size: 62px;
   line-height: 60px;
   font-weight: 800;
   padding: 20px 0;
}

.headerBody h2 {
   width: 440px;
   font-size: 18px;
   font-weight: 300;
   padding: 14px 0;
}

.stickyHeader {
   position: fixed;
   top: 20px;
   left: 0;
   right: 0;
   height: 80px;
   background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   z-index: 1000;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 40px;

   .logo img {
      width: 180px;
      height: auto;
   }

   .nav {
      display: flex;
      gap: 20px;
   }

   .nav a {
      color: #000;
      font-weight: 500;
      text-decoration: none;
   }
}

@keyframes slideDownFade {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.stickyEnter {
   animation: slideDownFade 0.3s ease-out forwards;
}


@media (max-width: 1000px) {
   .stickyHeader {
      top: 0;
   }
}

@media (max-width: 750px) {
   .headerBody {
      padding: 20px;
   }

   .headerBody h1 {
      width: 100%;
      word-break: break-word;
      font-size: 60px;
   }

   .headerBody h2 {
      width: 100%;
   }
}

@media (max-width: 600px) {
   .headerBody h1 {
      font-size: 40px;
   }
   .headerBody h2 {
      font-size: 16px;
   }
}
