.container {
  width: 100%;
  height: 100%;
}

.desktopOnly {
  width: 100%;
  height: 100%;
  display: block;

  @media (max-width: 1060px) {
    display: none;
  }
}

.mobileOnly {
  display: none;

  @media (max-width: 1060px) {
    width: 100%;
    height: 100%;
    display: block;
  }
}