.headerContainer {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   background: url(../../../../public/textures/banner-image-1.jpg);
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
   background-attachment: fixed;
   overflow: hidden;
   padding: 20px 20px 0px 20px;
   position: relative;
}

.header {
   max-width: 1245px;
   width: 100%;
   height: 110px;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 100;
}

.logo,
.logo img {
   width: 256px;
   height: 46px;
}

.burger {
   width: 30px;
   height: 30px;
   position: relative;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: transparent;
   border: none;
   padding: 0;
   z-index: 10;

   .bar {
      display: block;
      width: 100%;
      height: 4px;
      background: #333;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform-origin: center;
   }

   &.active {
      .bar {
         &:nth-child(1) {
            transform: translateY(13px) rotate(45deg);
         }

         &:nth-child(2) {
            opacity: 0;
            transform: scale(0);
         }

         &:nth-child(3) {
            transform: translateY(-13px) rotate(-45deg);
         }
      }
   }

   &:hover {
      .bar {
         background: #555;
      }
   }
}

.smLinks {
   display: flex;
   justify-content: end;
   padding-right: 20px;
}

.smLinks a {
   width: 32px;
   height: 18px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.smLinks a img {
   height: 15px;
}

.mobileMenu {
   width: 100%;
   background-color: rgba(255, 255, 255, 0.97);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   align-items: start;
   animation: dropDownLadder 0.4s ease-out forwards;
   padding: 20px;
}

.mobileMenu div {
   width: 100%;
}

@keyframes dropDownLadder {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.menuWrapper {
   width: calc(100% + 40px);
   position: absolute;
   top: 100%;
   left: -20;
   z-index: 99;
}

.menuItem {
   display: block; 
   font-size: 18px;
   font-weight: 500;
   color: #333;
   text-decoration: none;
   padding: 12px 20px; 
   transition: color 0.2s ease;

   &:hover{
      color: #b79b6a !important;
   }
}

.divider {
   width: 100%;
   height: 1px;
   background-color: #ccc;
}

.headerBody {
   max-width: 1245px;
   width: 100%;
   height: 100%;
   padding: 0px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 15px;
}

.line {
   display: block;
   background: #b79b6a;
   width: 30px;
   height: 5px;
}

.headerBody h1 {
   width: 400px;
   font-size: 62px;
   line-height: 60px;
   font-weight: 800;
   padding: 20px 0;
}

.headerBody h2 {
   width: 440px;
   font-size: 18px;
   font-weight: 300;
   padding: 14px 0;
}

.stickyHeader {
   position: fixed;
   top: 20;
   left: 0;
   right: 0;
   background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   height: auto;
   padding: 20px 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.stickyEnter {
   animation: slideDownFade 0.3s ease-out forwards;
}

@keyframes slideDownFade {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@media (max-width: 1000px) {
   .stickyHeader {
      top: 0;
   }
}

@media (max-width: 750px) {
   .headerBody {
      padding: 20px;
   }

   .headerBody h1 {
      width: 100%;
      word-break: break-word;
      font-size: 60px;
   }

   .headerBody h2 {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .logo, .logo img{
      width: 180px;
   }
}

@media (max-width: 600px) {
   .headerBody h1 {
      font-size: 40px;
   }
   .headerBody h2 {
      font-size: 16px;
   }
}

